Repository rissson/dotshabka, changes with the owners that CODEOWNERS names for each.
All owners: @risson, @ddorn, @diego

CODEOWNERS:

/CODEOWNERS @risson @ddorn
/LICENSE @risson @ddorn
/README.md @risson

/default.nix @risson
/shell.nix @risson

/rfcs/ @risson @diego

/data/ @risson @diego

/hosts/cuckoo/ @risson
/hosts/giraffe/ @risson
/hosts/hedgehog/ @risson
/hosts/kvm-1/ @risson @diego
/hosts/ldap-1/ @risson
/hosts/mail-1/ @risson
/hosts/minio-1/ @risson
/hosts/nas/ @risson
/hosts/postgres-1/ @risson
/hosts/reverse-1/ @risson
/hosts/web-1/ @risson @ddorn
/hosts/web-2/ @risson @ddorn

/modules/nixos/ @risson @ddorn
/modules/risson/ @risson
/modules/diego/ @ddorn

/deploy/bar.nix @risson
/deploy/fsn.nix @risson @ddorn
/deploy/primaries.nix @risson @ddorn

hedgehog: enable dhcpcd resolv.conf hook
  hosts/hedgehog/networking/default.nix
Owners: @risson

modules: risson: software: git: enable sign-off in commit messages when using aliases
  modules/risson/software/git.nix
Owners: @risson

WIP
  cachix.nix
  cachix/.keep
  flake.lock
  flake.nix
  hosts/default.nix
Owners: none

modules: nixos: roles: netdata: portcheck: remove ldap-1:19999 as it is now a container
  modules/nixos/roles/netdata/go.d/portcheck.conf
Owners: @risson, @ddorn

modules: nixos: roles: netdata: restart periodically (1d) to avoid db-engine flushing errors
  modules/nixos/roles/netdata/default.nix
Owners: @risson, @ddorn

WIP
  .envrc
  .gitignore
  flake.lock
  flake.nix
  hosts/default.nix
  hosts/hedgehog/configuration.nix
  hosts/hedgehog/hardware-configuration.nix
  hosts/hedgehog/home.nix
  hosts/hedgehog/networking/default.nix
  shell.nix
Owners: @risson

hosts: move reverse to kvm-1 container
  .gitlab/gitlab-ci.yml
  data/space.lama-corp/fsn/vrt/default.nix
  data/space.lama-corp/fsn/vrt/reverse-2/default.nix
  deploy/fsn.nix
  hosts/kvm-1/containers/default.nix
  hosts/kvm-1/containers/reverse-2/configuration.nix
  hosts/kvm-1/containers/reverse-2/default.nix
  hosts/kvm-1/containers/reverse-2/monitoring/default.nix
  hosts/kvm-1/containers/reverse-2/monitoring/netdata/default.nix
  hosts/kvm-1/containers/reverse-2/monitoring/netdata/go.d/nginx.conf
  hosts/kvm-1/containers/reverse-2/monitoring/netdata/go.d/web_log.conf
  hosts/kvm-1/containers/reverse-2/nginx/acdc.risson.space.nix
  hosts/kvm-1/containers/reverse-2/nginx/beauflard.risson.space.nix
  hosts/kvm-1/containers/reverse-2/nginx/bin.lama-corp.space.nix
  hosts/kvm-1/containers/reverse-2/nginx/cats.acdc.risson.space.nix
  hosts/kvm-1/containers/reverse-2/nginx/chat.lama-corp.space.nix
  hosts/kvm-1/containers/reverse-2/nginx/grafana.lama-corp.space.nix
  hosts/kvm-1/containers/reverse-2/nginx/jdmi.risson.space.nix
  hosts/kvm-1/containers/reverse-2/nginx/lama-corp.space.nix
  hosts/kvm-1/containers/reverse-2/nginx/md.lama-corp.space.nix
  hosts/kvm-1/containers/reverse-2/nginx/netdata.lama-corp.space.nix
  hosts/kvm-1/containers/reverse-2/nginx/risson.space.nix
  hosts/kvm-1/containers/reverse-2/nginx/scoreboard-seedbox-cri.risson.space.nix
  hosts/kvm-1/containers/reverse-2/nginx/static.lama-corp.space.nix
  hosts/kvm-1/containers/reverse-2/nginx/thefractal.space.nix
  hosts/kvm-1/networking/default.nix
  hosts/kvm-1/networking/dns.nix
  hosts/kvm-1/services/libvirt/default.nix
  hosts/kvm-1/services/libvirt/guests/reverse-1.nix
  hosts/reverse-1/configuration.nix
  hosts/reverse-1/default.nix
  hosts/reverse-1/distrib
  hosts/reverse-1/monitoring/netdata/go.d/nginx.conf
  hosts/reverse-1/monitoring/netdata/go.d/web_log.conf
  hosts/reverse-1/networking.nix
  hosts/reverse-1/nginx/default.nix
  hosts/reverse-1/release
Owners: @risson, @diego, @ddorn

web-1: update risson.space to 351654f4
  hosts/web-1/web/risson.space.nix
Owners: @risson, @ddorn

kvm-1: add nextcloud-1 container
  hosts/kvm-1/containers/default.nix
  hosts/kvm-1/containers/nextcloud-1/configuration.nix
  hosts/kvm-1/containers/nextcloud-1/default.nix
Owners: @risson, @diego

postgres-1: add nextcloud database
  hosts/postgres-1/configuration.nix
  modules/nixos/roles/postgresql/default.nix
Owners: @risson, @ddorn

kvm-1: reverse-2: add cloud.lama-corp.space
  hosts/kvm-1/containers/reverse-2/configuration.nix
  hosts/kvm-1/containers/reverse-2/monitoring/netdata/go.d/web_log.conf
  hosts/kvm-1/containers/reverse-2/nginx/cloud.lama-corp.space.nix
Owners: @risson, @diego

current hedgehog state
  hosts/hedgehog/configuration.nix
  hosts/hedgehog/hardware-configuration.nix
  hosts/hedgehog/home.nix
  hosts/hedgehog/networking/default.nix
  modules/risson/graphical/i3/i3-config.lib.nix
Owners: @risson

nginx auth_request tests
  hosts/hedgehog/configuration.nix
Owners: @risson

wip
  hosts/hedgehog/home.nix
Owners: @risson

kvm-1: nextcloud-1: open firewall port 80
  hosts/kvm-1/containers/nextcloud-1/configuration.nix
Owners: @risson, @diego

kvm-1: add acdc-static-1
  hosts/kvm-1/containers/acdc-1/configuration.nix
  hosts/kvm-1/containers/acdc-1/default.nix
  hosts/kvm-1/containers/default.nix
Owners: @risson, @diego

reverse-2: use acdc's container
  hosts/kvm-1/containers/reverse-2/nginx/acdc.risson.space.nix
Owners: @risson, @diego

acdc-1: switch from lighttpd to nginx
  hosts/kvm-1/containers/acdc-1/configuration.nix
Owners: @risson, @diego

web-1: remove acdc.risson.space
  hosts/web-1/web/acdc.risson.space.nix
  hosts/web-1/web/default.nix
Owners: @risson, @ddorn

web-1: remove beauflard.risson.space
  hosts/web-1/web/beauflard.risson.space.nix
  hosts/web-1/web/default.nix
Owners: @risson, @ddorn
