Repository rissson/dotshabka, changes with the owners that CODEOWNERS names for each.
All owners: @risson, @ddorn, @diego

web-1: update risson.space to f5031f4a
  hosts/web-1/web/risson.space.nix
Owners: @risson, @ddorn

giraffe: backups: disable snapshots
  hosts/giraffe/backups.nix
Owners: @risson

giraffe: monitoring: netdata: remove deprecated websites
  hosts/giraffe/monitoring/netdata/go.d/httpcheck.conf
  hosts/giraffe/monitoring/netdata/go.d/x509check.conf
Owners: @risson

hedgehog: enable flakes
  hosts/hedgehog/configuration.nix
Owners: @risson

hedgehog: enable taskwarrior
  hosts/hedgehog/home.nix
  modules/home/default/software/zsh/zsh.nix
Owners: @risson, @ddorn

hedgehog: enable taskwarrior
  hosts/hedgehog/home.nix
  modules/home/default/software/zsh/zsh.nix
Owners: @risson, @ddorn

hedgehog: enable flakes
  hosts/hedgehog/configuration.nix
Owners: @risson

kvm-1: services: libvirt: migrate ynh VMs to using QCow2 images
  hosts/kvm-1/services/libvirt/guests/lamacorp-ynh.nix
  hosts/kvm-1/services/libvirt/guests/lewdax-ynh.nix
  hosts/kvm-1/services/libvirt/xml/ynh.xml
Owners: @risson, @diego

kvm-1: services: libvirt: service: preallocation=metadata
  hosts/kvm-1/services/libvirt/services/default.nix
Owners: @risson, @diego

web-2: codimd: remove workDir as we are not storing files on the host
  hosts/web-2/web/md.lama-corp.space.nix
Owners: @risson, @ddorn

nas: dns: dnsmasq -> unbound
  hosts/nas/configuration.nix
  hosts/nas/dns-dhcp.nix
  hosts/nas/dns/default.nix
  hosts/nas/dns/unbound.nix
Owners: @risson

nas: dhcp: dnsmasq -> dhcpd
  hosts/nas/configuration.nix
  hosts/nas/dhcp.nix
  hosts/nas/dns-dhcp.nix
Owners: @risson

giraffe: backups: disable influxdb dump
  hosts/giraffe/backups.nix
Owners: @risson

cuckoo: configure as WiFi AP
  data/space.lama-corp/bar/mmd/cuckoo/default.nix
  data/space.lama-corp/bar/mmd/default.nix
  data/space.lama-corp/bar/srv/cuckoo/default.nix
  data/space.lama-corp/bar/srv/default.nix
  deploy/bar.nix
  hosts/cuckoo/configuration.nix
  hosts/cuckoo/networking.nix
  hosts/nas/dhcp.nix
  hosts/nas/dns/default.nix
Owners: @risson

cuckoo: configure pulseaudio server
  hosts/cuckoo/configuration.nix
  hosts/hedgehog/configuration.nix
Owners: @risson

hosts: add cuckoo
  deploy/bar.nix
  hosts/cuckoo/configuration.nix
  hosts/cuckoo/hardware-configuration.nix
  hosts/cuckoo/networking.nix
Owners: none

cuckoo: configure as spotify device
  hosts/cuckoo/configuration.nix
Owners: none

cuckoo: add to CI
  .gitlab/gitlab-ci.yml
  hosts/cuckoo/default.nix
  hosts/cuckoo/distrib
  hosts/cuckoo/release
Owners: none

hedgehog: update flakes
  hosts/hedgehog/configuration.nix
Owners: @risson

kvm-1: services: bitlbee: enable
  hosts/kvm-1/services/default.nix
Owners: @risson, @diego

move roles that were in profiles to roles
  hosts/nas/backups.nix
  profiles/primary/default.nix
  profiles/server/default.nix
  profiles/vm/default.nix
  profiles/workstation/default.nix
  roles/common/backups.nix
  roles/common/default.nix
  roles/common/kernel.nix
  roles/common/keyboard.nix
  roles/common/locale.nix
  roles/common/neovim.nix
  roles/common/nix.nix
  roles/common/packages.nix
  roles/common/users.nix
  roles/luks/default.nix
  roles/netdata/default.nix
  roles/sendmail/default.nix
  roles/ssh/default.nix
  roles/zfs/default.nix
Owners: @risson

remove more duplicate config
  hosts/hedgehog/home.nix
Owners: @risson

profiles: nixos: add backups
  hosts/giraffe/backups.nix
  hosts/giraffe/configuration.nix
  hosts/ldap-1/backups.nix
  hosts/ldap-1/configuration.nix
  hosts/mail-1/backups.nix
  hosts/mail-1/configuration.nix
  hosts/minio-1/backups.nix
  hosts/minio-1/configuration.nix
  hosts/postgres-1/configuration.nix
  hosts/reverse-1/backups.nix
  hosts/reverse-1/configuration.nix
  hosts/web-1/backups.nix
  hosts/web-1/configuration.nix
  hosts/web-2/backups.nix
  hosts/web-2/configuration.nix
  profiles/nixos/backups/default.nix
  profiles/nixos/vm/default.nix
Owners: @risson, @ddorn

nixfmt
  profiles/nixos/primary/default.nix
Owners: none

giraffe: backups: disable influxdb dump
  hosts/giraffe/configuration.nix
Owners: @risson

fix build errors
  hosts/giraffe/monitoring/influxdb.nix
  hosts/kvm-1/services/libvirt/images/local.nix
Owners: @risson, @diego

fix build errors
  hosts/cuckoo/networking.nix
  hosts/giraffe/configuration.nix
  hosts/kvm-1/configuration.nix
  hosts/nas/backups.nix
  hosts/web-1/configuration.nix
Owners: @risson, @diego, @ddorn

remove more duplicate config
  hosts/giraffe/monitoring/netdata/default.nix
Owners: @risson

hosts -> roles: move services logic
  deploy/fsn.nix
  deploy/primaries.nix
  hosts/giraffe/configuration.nix
  hosts/kvm-1/backups.nix
  hosts/ldap-1/configuration.nix
  hosts/mail-1/configuration.nix
  hosts/minio-1/configuration.nix
  hosts/postgres-1/configuration.nix
  hosts/postgres-1/postgres/default.nix
  hosts/reverse-1/configuration.nix
  hosts/web-1/configuration.nix
  hosts/web-2/configuration.nix
  profiles/nixos/backups/default.nix
  roles/ldap/default.nix
  roles/ldap/slapd.conf
  roles/mail/clamav.nix
  roles/mail/default.nix
  roles/mail/dovecot.nix
  roles/mail/opendkim.nix
  roles/mail/postfix.nix
  roles/mail/rspamd.nix
  roles/minio/default.nix
  roles/postgres/default.nix
Owners: @risson, @diego, @ddorn

fix imports
  hosts/cuckoo/configuration.nix
  hosts/giraffe/configuration.nix
  hosts/hedgehog/configuration.nix
  hosts/kvm-1/configuration.nix
  hosts/ldap-1/configuration.nix
  hosts/mail-1/configuration.nix
  hosts/minio-1/configuration.nix
  hosts/nas/configuration.nix
  hosts/postgres-1/configuration.nix
  hosts/reverse-1/configuration.nix
  hosts/web-1/configuration.nix
  hosts/web-2/configuration.nix
Owners: @risson, @diego, @ddorn

recreate nixos folder for roles and profiles
  profiles/nixos/primary/default.nix
  profiles/nixos/primary/users.nix
  profiles/nixos/server/default.nix
  profiles/nixos/server/root.nix
  profiles/nixos/vm/default.nix
  profiles/nixos/workstation/default.nix
  roles/nixos/common/backups.nix
  roles/nixos/common/default.nix
  roles/nixos/common/kernel.nix
  roles/nixos/common/keyboard.nix
  roles/nixos/common/locale.nix
  roles/nixos/common/neovim.nix
  roles/nixos/common/nix.nix
  roles/nixos/common/packages.nix
  roles/nixos/common/users.nix
  roles/nixos/ldap/default.nix
  roles/nixos/ldap/slapd.conf
  roles/nixos/luks/default.nix
  roles/nixos/mail/clamav.nix
  roles/nixos/mail/default.nix
  roles/nixos/mail/dovecot.nix
  roles/nixos/mail/opendkim.nix
  roles/nixos/mail/postfix.nix
  roles/nixos/mail/rspamd.nix
  roles/nixos/minio/default.nix
  roles/nixos/netdata/default.nix
  roles/nixos/postgres/default.nix
  roles/nixos/sendmail/default.nix
  roles/nixos/ssh/default.nix
  roles/nixos/zfs/default.nix
Owners: none

fix imports
  roles/nixos/netdata/default.nix
Owners: none

extract boot and power options
  hosts/giraffe/hardware-configuration.nix
  hosts/giraffe/monitoring/influxdb.nix
  hosts/kvm-1/hardware-configuration.nix
  hosts/ldap-1/hardware-configuration.nix
  hosts/mail-1/hardware-configuration.nix
  hosts/minio-1/hardware-configuration.nix
  hosts/nas/hardware-configuration.nix
  hosts/postgres-1/hardware-configuration.nix
  hosts/reverse-1/hardware-configuration.nix
  hosts/web-1/hardware-configuration.nix
  hosts/web-2/hardware-configuration.nix
  profiles/nixos/server/default.nix
  profiles/nixos/server/power.nix
  roles/nixos/common/boot.nix
Owners: @risson, @diego, @ddorn

fix wrong paths
  profiles/nixos/primary/default.nix
  profiles/nixos/server/default.nix
  profiles/nixos/vm/default.nix
  profiles/nixos/workstation/default.nix
Owners: none

remove nixos folder, let's focus on nixos only for now
  profiles/backups/default.nix
  profiles/common/default.nix
  profiles/common/kernel.nix
  profiles/common/keyboard.nix
  profiles/common/locale.nix
  profiles/common/neovim.nix
  profiles/common/nix.nix
  profiles/common/packages.nix
  profiles/common/users.nix
  profiles/luks/default.nix
  profiles/netdata/default.nix
  profiles/primary/default.nix
  profiles/primary/users.nix
  profiles/sendmail/default.nix
  profiles/server/default.nix
  profiles/server/root.nix
  profiles/ssh/default.nix
  profiles/vm/default.nix
  profiles/workstation/default.nix
  profiles/zfs/default.nix
Owners: none

README: add explanation for repo layout
  README.md
Owners: @risson

fix readme
  README.md
Owners: @risson

fix vmtype
  hosts/ldap-1/configuration.nix
  hosts/mail-1/configuration.nix
  hosts/minio-1/configuration.nix
  hosts/postgres-1/configuration.nix
  hosts/reverse-1/configuration.nix
  hosts/web-1/configuration.nix
  hosts/web-2/configuration.nix
Owners: @risson, @ddorn

refactor netdata configs
  hosts/giraffe/configuration.nix
  hosts/giraffe/monitoring/default.nix
  hosts/giraffe/monitoring/netdata/default.nix
  hosts/kvm-1/monitoring/default.nix
  hosts/kvm-1/monitoring/netdata/default.nix
  hosts/nas/monitoring/default.nix
  hosts/nas/monitoring/netdata/default.nix
  modules/nixos/roles/netdata/default.nix
  modules/nixos/roles/netdata/go.d/httpcheck.conf
  modules/nixos/roles/netdata/go.d/portcheck.conf
  modules/nixos/roles/netdata/go.d/unbound.conf
  modules/nixos/roles/netdata/go.d/x509check.conf
Owners: @risson, @diego, @ddorn

Add options for profiles
  modules/nixos/profiles/primary/default.nix
  modules/nixos/profiles/primary/users.nix
  modules/nixos/profiles/server/default.nix
  modules/nixos/profiles/server/power.nix
  modules/nixos/profiles/server/root.nix
  modules/nixos/profiles/vm/default.nix
  modules/nixos/profiles/workstation/default.nix
  modules/nixos/profiles/workstation/logind.nix
  modules/nixos/profiles/workstation/xorg.nix
  modules/nixos/roles/netdata/default.nix
Owners: @risson, @ddorn

CODEOWNERS:

/CODEOWNERS @risson @ddorn
/LICENSE @risson @ddorn
/README.md @risson

/default.nix @risson
/shell.nix @risson

/data/ @risson
/scripts/ @risson

/hosts/giraffe/ @risson
/hosts/hedgehog/ @risson
/hosts/kvm-1/ @risson @diego
/hosts/ldap-1/ @risson
/hosts/mail-1/ @risson
/hosts/minio-1/ @risson
/hosts/nas/ @risson
/hosts/postgres-1/ @risson
/hosts/reverse-1/ @risson
/hosts/web-1/ @risson @ddorn
/hosts/web-2/ @risson @ddorn

/modules/* @risson @ddorn
/modules/nixos/ @risson @ddorn

/modules/home/* @risson @ddorn
/modules/home/default/ @risson @ddorn
/modules/home/server/ @risson @ddorn
/modules/home/workstation/ @risson @ddorn

/modules/home/risson/ @risson
/modules/home/diego/ @ddorn
