Repository rissson/dotshabka, changes with the owners that CODEOWNERS names for each.
All owners: @risson, @ddorn, @diego

hosts: add acdc-tp14-1
  .gitlab/gitlab-ci.yml
  data/space.lama-corp/fsn/vrt/acdc-tp14-1/default.nix
  data/space.lama-corp/fsn/vrt/default.nix
  deploy/fsn.nix
  hosts/acdc-tp14-1/configuration.nix
  hosts/acdc-tp14-1/default.nix
  hosts/acdc-tp14-1/distrib
  hosts/acdc-tp14-1/hardware-configuration.nix
  hosts/acdc-tp14-1/mouli/default.nix
  hosts/acdc-tp14-1/networking.nix
  hosts/acdc-tp14-1/release
  hosts/kvm-1/services/libvirt/default.nix
  hosts/kvm-1/services/libvirt/guests/acdc-tp14-1.nix
Owners: @risson, @diego

kvm-1: dns: add acdc-tp14-1
  hosts/kvm-1/networking/dns.nix
Owners: @risson, @diego

acdc-tp14-1: enable docker
  hosts/acdc-tp14-1/mouli/default.nix
  hosts/acdc-tp14-1/networking.nix
Owners: none

reverse-1: nginx: proxy tp14.acdc.risson.space to adcc-tp14-1.vrt.fsn
  hosts/reverse-1/nginx/default.nix
  hosts/reverse-1/nginx/tp14.acdc.risson.space.nix
Owners: @risson

kvm-1: libvirt: acdc-tp14-1: augment CPU, RAM and disk
  hosts/kvm-1/services/libvirt/guests/acdc-tp14-1.nix
Owners: @risson, @diego

reverse-1: nginx: netdata: add acdc-tp14-1
  hosts/reverse-1/nginx/netdata.lama-corp.space.nix
Owners: @risson

acdc-tp14-1: add docker-compose, its service and secrets
  deploy/fsn.nix
  hosts/acdc-tp14-1/mouli/default.nix
  hosts/acdc-tp14-1/mouli/docker-compose.yml
  hosts/giraffe/monitoring/netdata/go.d/portcheck.conf
Owners: @risson

kvm-1: networking: firewall: open 19999 to RP
  hosts/kvm-1/networking/firewall.nix
Owners: @risson, @diego

acdc-tp14-1: docker-compose: fix image name
  hosts/acdc-tp14-1/mouli/docker-compose.yml
Owners: none

acdc-tp14-1: docker-compose: fix small problems
  hosts/acdc-tp14-1/mouli/docker-compose.yml
  hosts/kvm-1/networking/dns.nix
Owners: @risson, @diego

nginx hotfix
  hosts/acdc-tp14-1/mouli/docker-compose.yml
  hosts/minio-1/minio/default.nix
Owners: @risson

acdc-tp14-1: docker-compose: add minio
  hosts/acdc-tp14-1/mouli/docker-compose.yml
  hosts/minio-1/minio/default.nix
Owners: @risson

hosts: add acdc-tp14-1
  .gitlab/gitlab-ci.yml
  data/space.lama-corp/fsn/vrt/acdc-tp14-1/default.nix
  data/space.lama-corp/fsn/vrt/default.nix
  deploy/fsn.nix
  hosts/acdc-tp14-1/configuration.nix
  hosts/acdc-tp14-1/default.nix
  hosts/acdc-tp14-1/distrib
  hosts/acdc-tp14-1/hardware-configuration.nix
  hosts/acdc-tp14-1/mouli/default.nix
  hosts/acdc-tp14-1/mouli/docker-compose.yml
  hosts/acdc-tp14-1/networking.nix
  hosts/acdc-tp14-1/release
  hosts/giraffe/monitoring/netdata/go.d/portcheck.conf
  hosts/kvm-1/networking/dns.nix
  hosts/kvm-1/networking/firewall.nix
  hosts/kvm-1/services/libvirt/default.nix
  hosts/kvm-1/services/libvirt/guests/acdc-tp14-1.nix
  hosts/reverse-1/nginx/default.nix
  hosts/reverse-1/nginx/netdata.lama-corp.space.nix
  hosts/reverse-1/nginx/tp14.acdc.risson.space.nix
Owners: @risson, @diego

hedgehog: migrate to new machine
  hosts/hedgehog/backups.nix
  hosts/hedgehog/configuration.nix
  hosts/hedgehog/hardware-configuration.nix
  hosts/hedgehog/home.nix
  hosts/hedgehog/networking/default.nix
Owners: @risson

web-2: mattermost: fix server hash
  hosts/web-2/mattermost/package.nix
Owners: @risson, @ddorn

acdc: tp14: version 2.1
  hosts/acdc-tp14-1/mouli/docker-compose.yml
Owners: none

fix postgres secret name
  hosts/acdc-tp14-1/mouli/docker-compose.yml
Owners: none

reverse-1: monitoring: add tp14.acdc.risson.space to web log
  hosts/reverse-1/monitoring/netdata/go.d/web_log.conf
Owners: @risson

acdc: tp14: version 2.0
  hosts/acdc-tp14-1/mouli/docker-compose.yml
Owners: none

add postgres secret to deploy
  deploy/fsn.nix
Owners: none

acdc: tp14: version 2.0
  deploy/fsn.nix
  hosts/acdc-tp14-1/mouli/docker-compose.yml
  hosts/reverse-1/monitoring/netdata/go.d/web_log.conf
Owners: @risson

hosts: VMs: fix root snapshot reverting at boot
  hosts/ldap-1/hardware-configuration.nix
  hosts/mail-1/hardware-configuration.nix
  hosts/minio-1/hardware-configuration.nix
  hosts/postgres-1/hardware-configuration.nix
  hosts/reverse-1/hardware-configuration.nix
  hosts/web-1/hardware-configuration.nix
  hosts/web-2/hardware-configuration.nix
Owners: @risson, @ddorn

modules: nixos: server: automatically delete unused derivations older than 10d
  modules/nixos/server/nix.nix
Owners: @risson, @ddorn

kvm-1: services: disable hercules-ci
  hosts/kvm-1/services/default.nix
Owners: @risson, @diego

hosts: remove acdc-tp14-1
  .gitlab/gitlab-ci.yml
  data/space.lama-corp/fsn/vrt/acdc-tp14-1/default.nix
  data/space.lama-corp/fsn/vrt/default.nix
  deploy/fsn.nix
  hosts/acdc-tp14-1/configuration.nix
  hosts/acdc-tp14-1/default.nix
  hosts/acdc-tp14-1/distrib
  hosts/acdc-tp14-1/hardware-configuration.nix
  hosts/acdc-tp14-1/mouli/default.nix
  hosts/acdc-tp14-1/mouli/docker-compose.yml
  hosts/acdc-tp14-1/networking.nix
  hosts/acdc-tp14-1/release
  hosts/kvm-1/networking/dns.nix
  hosts/kvm-1/services/libvirt/default.nix
  hosts/kvm-1/services/libvirt/guests/acdc-tp14-1.nix
Owners: @risson, @diego

kvm-1: services: add gitlab runner for risson-epita/ing1/chess
  hosts/kvm-1/services/gitlab-runners/default.nix
  hosts/kvm-1/services/libvirt/guests/lewdax-ynh.nix
Owners: @risson, @diego

giraffe: grafana: fix dashboard links
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/applications.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/cgroups.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/cpus.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/disks.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/firewall.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/ipmi.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/ipv4-networking.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/ipv6-networking.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/logind.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/mdstat.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/memory.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/netdata.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/network-interfaces.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/networking-stack.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/nginx.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/sensors.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/smartd.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/system-overview.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/systemd-services.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/template.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/unbound.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/user-groups.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/users.json
  hosts/giraffe/monitoring/grafana/dashboards/netdata-per-host/zfs.json
  hosts/giraffe/monitoring/grafana/dashboards/web/http-endpoints.json
  hosts/giraffe/monitoring/grafana/dashboards/web/x509-certificates.json
Owners: @risson

reverse-1: remove tp14.acdc.risson.space
  hosts/reverse-1/monitoring/netdata/go.d/web_log.conf
  hosts/reverse-1/nginx/default.nix
  hosts/reverse-1/nginx/netdata.lama-corp.space.nix
  hosts/reverse-1/nginx/tp14.acdc.risson.space.nix
Owners: @risson

modules: nixos: server: remove mail configuration
  deploy/fsn.nix
  deploy/primaries.nix
  modules/nixos/server/mail.nix
Owners: @risson, @ddorn

giraffe: boot: fix ssh
  hosts/giraffe/hardware-configuration.nix
Owners: @risson

modules: nixos: server: enable postfix
  hosts/mail-1/mail/postfix.nix
  modules/nixos/server/mail.nix
Owners: @risson, @ddorn

modules: nixos: server: fix postfix hostname
  hosts/hedgehog/home.nix
  hosts/mail-1/mail/postfix.nix
  modules/nixos/server/mail.nix
Owners: @risson, @ddorn

giraffe: monitoring: grafana: use postgresql as database
  deploy/primaries.nix
  hosts/giraffe/monitoring/grafana/default.nix
Owners: @risson

giraffe: backups: use a more sensible snapshot policy
  hosts/giraffe/backups.nix
Owners: @risson

web-1: update risson.space
  hosts/hedgehog/hardware-configuration.nix
  hosts/web-1/web/risson.space.nix
Owners: @risson, @ddorn

web-1: update risson.space
  hosts/web-1/web/risson.space.nix
Owners: @risson, @ddorn

web-1: update risson.space to b508323eeba10f2fa7634474d1a0b34b3c834888
  hosts/web-1/web/risson.space.nix
Owners: @risson, @ddorn

web-1: update risson.space to be2441b1
  hosts/web-1/web/risson.space.nix
Owners: @risson, @ddorn

web-1: update risson.space to 879ec743
  hosts/web-1/web/risson.space.nix
Owners: @risson, @ddorn

web-1: update risson.space to 0840c82b
  hosts/web-1/web/risson.space.nix
Owners: @risson, @ddorn

CODEOWNERS:

/CODEOWNERS @risson @ddorn
/LICENSE @risson @ddorn
/README.md @risson

/default.nix @risson
/shell.nix @risson

/data/ @risson
/scripts/ @risson

/hosts/giraffe/ @risson
/hosts/hedgehog/ @risson
/hosts/kvm-1/ @risson @diego
/hosts/ldap-1/ @risson
/hosts/mail-1/ @risson
/hosts/minio-1/ @risson
/hosts/nas/ @risson
/hosts/postgres-1/ @risson
/hosts/reverse-1/ @risson
/hosts/web-1/ @risson @ddorn
/hosts/web-2/ @risson @ddorn

/modules/* @risson @ddorn
/modules/nixos/ @risson @ddorn

/modules/home/* @risson @ddorn
/modules/home/default/ @risson @ddorn
/modules/home/server/ @risson @ddorn
/modules/home/workstation/ @risson @ddorn

/modules/home/risson/ @risson
/modules/home/diego/ @ddorn
