Repository rissson/dotshabka, changes with the owners that CODEOWNERS names for each.
All owners: @risson, @ddorn, @diego

fix build errors
  hosts/cuckoo/configuration.nix
  hosts/giraffe/configuration.nix
  hosts/hedgehog/configuration.nix
  hosts/kvm-1/configuration.nix
  hosts/kvm-1/services/libvirt/images/local.nix
  hosts/ldap-1/configuration.nix
  hosts/mail-1/configuration.nix
  hosts/minio-1/configuration.nix
  hosts/nas/configuration.nix
  hosts/postgres-1/configuration.nix
  hosts/reverse-1/configuration.nix
  hosts/web-1/configuration.nix
  hosts/web-2/configuration.nix
  modules/nixos/profiles/workstation/default.nix
  modules/nixos/roles/common/default.nix
Owners: @risson, @diego, @ddorn

postgres-1: fix conf
  hosts/postgres-1/configuration.nix
Owners: @risson

hedgehog: enable graphical stuff
  hosts/hedgehog/home.nix
Owners: @risson

kvm-1: fix libvirt config
  hosts/kvm-1/services/libvirt/images/local.nix
Owners: @risson, @diego

Modify hosts configuration to use new lama-corp options
  hosts/cuckoo/configuration.nix
  hosts/giraffe/configuration.nix
  hosts/hedgehog/configuration.nix
  hosts/hedgehog/hardware-configuration.nix
  hosts/kvm-1/backups.nix
  hosts/kvm-1/configuration.nix
  hosts/ldap-1/configuration.nix
  hosts/mail-1/configuration.nix
  hosts/minio-1/configuration.nix
  hosts/nas/backups.nix
  hosts/nas/configuration.nix
  hosts/postgres-1/configuration.nix
  hosts/reverse-1/configuration.nix
  hosts/web-1/configuration.nix
  hosts/web-2/configuration.nix
  modules/nixos/profiles/workstation/default.nix
  modules/nixos/roles/postgresql/default.nix
Owners: @risson, @diego, @ddorn

Add options for roles
  modules/nixos/roles/common/backups.nix
  modules/nixos/roles/luks/default.nix
  modules/nixos/roles/mail/default.nix
  modules/nixos/roles/minio/default.nix
  modules/nixos/roles/netdata/default.nix
  modules/nixos/roles/postgres/default.nix
  modules/nixos/roles/postgresql/default.nix
  modules/nixos/roles/sendmail/default.nix
  modules/nixos/roles/ssh/default.nix
  modules/nixos/roles/zfs/default.nix
Owners: @risson, @ddorn

refactor vm hardware config
  hosts/ldap-1/configuration.nix
  hosts/ldap-1/hardware-configuration.nix
  hosts/mail-1/configuration.nix
  hosts/mail-1/hardware-configuration.nix
  hosts/minio-1/configuration.nix
  hosts/minio-1/hardware-configuration.nix
  hosts/postgres-1/configuration.nix
  hosts/postgres-1/hardware-configuration.nix
  hosts/reverse-1/configuration.nix
  hosts/reverse-1/hardware-configuration.nix
  hosts/web-1/configuration.nix
  hosts/web-1/hardware-configuration.nix
  hosts/web-2/configuration.nix
  hosts/web-2/hardware-configuration.nix
  modules/nixos/profiles/vm/default.nix
Owners: @risson, @ddorn

refactor unbound configs
  hosts/kvm-1/networking/dns.nix
  hosts/nas/configuration.nix
  hosts/nas/dhcp.nix
  hosts/nas/dns.nix
  hosts/nas/dns/default.nix
  modules/nixos/profiles/primary/default.nix
  modules/nixos/roles/unbound/default.nix
  modules/nixos/roles/unbound/unbound.lib.nix
Owners: @risson, @diego, @ddorn

fix build errors
  hosts/giraffe/hardware-configuration.nix
  hosts/ldap-1/hardware-configuration.nix
  hosts/mail-1/configuration.nix
  hosts/mail-1/hardware-configuration.nix
  hosts/mail-1/mail/clamav.nix
  hosts/mail-1/mail/default.nix
  hosts/mail-1/mail/dovecot.nix
  hosts/mail-1/mail/opendkim.nix
  hosts/mail-1/mail/postfix.nix
  hosts/mail-1/mail/rspamd.nix
  hosts/minio-1/hardware-configuration.nix
  hosts/nas/hardware-configuration.nix
  hosts/postgres-1/hardware-configuration.nix
  hosts/reverse-1/hardware-configuration.nix
  hosts/web-1/hardware-configuration.nix
  hosts/web-2/hardware-configuration.nix
  modules/nixos/profiles/server/default.nix
  modules/nixos/profiles/vm/default.nix
  modules/nixos/profiles/workstation/default.nix
  modules/nixos/roles/mail/default.nix
  modules/nixos/roles/netdata/default.nix
Owners: @risson, @ddorn

fix typos
  hosts/nas/configuration.nix
  modules/nixos/profiles/server/default.nix
  modules/nixos/profiles/workstation/default.nix
Owners: @risson, @ddorn

typo
  hosts/hedgehog/configuration.nix
Owners: @risson

Fix wrong configuration
  hosts/hedgehog/configuration.nix
  modules/nixos/roles/common/default.nix
  modules/nixos/roles/ssh/default.nix
Owners: @risson, @ddorn

refactor nas backups
  hosts/nas/backups.nix
Owners: @risson

CODEOWNERS:

/CODEOWNERS @risson @ddorn
/LICENSE @risson @ddorn
/README.md @risson

/default.nix @risson
/shell.nix @risson

/data/ @risson
/scripts/ @risson

/hosts/giraffe/ @risson
/hosts/hedgehog/ @risson
/hosts/kvm-1/ @risson @diego
/hosts/ldap-1/ @risson
/hosts/mail-1/ @risson
/hosts/minio-1/ @risson
/hosts/nas/ @risson
/hosts/postgres-1/ @risson
/hosts/reverse-1/ @risson
/hosts/web-1/ @risson @ddorn
/hosts/web-2/ @risson @ddorn

/modules/* @risson @ddorn
/modules/nixos/ @risson @ddorn

/modules/home/* @risson @ddorn
/modules/home/default/ @risson @ddorn
/modules/home/server/ @risson @ddorn
/modules/home/workstation/ @risson @ddorn

/modules/home/risson/ @risson
/modules/home/diego/ @ddorn
