Repository rissson/dotshabka, changes with the owners that CODEOWNERS names for each.
All owners: @risson, @ddorn, @diego

hedgehog: fix TLP configuration
  hosts/hedgehog/hardware-configuration.nix
Owners: @risson

hedgehog: / on tmpfs
  hosts/hedgehog/hardware-configuration.nix
Owners: @risson

shell.nix: export DOTSHABKA_PATH
  shell.nix
Owners: @risson

data: users: risson: change password
  data/users/risson/default.nix
Owners: @risson, @diego

hedgehog: disable nix-gc
  hosts/hedgehog/configuration.nix
Owners: @risson

hedgehog: networking: fix NAS's public IP
  hosts/hedgehog/networking/default.nix
Owners: @risson

modules: nixos: netdata: remove hub from portcheck
  modules/nixos/roles/netdata/go.d/portcheck.conf
Owners: @risson, @ddorn

kvm-1: hercules-ci: add binary cache
  hosts/kvm-1/services/hercules-ci.nix
Owners: @risson, @diego

kvm-1: fix libvirt config
  hosts/kvm-1/services/libvirt/guests/lamacorp-ynh.nix
  hosts/kvm-1/services/libvirt/guests/lewdax-ynh.nix
Owners: @risson, @diego

kvm-1: disable nix-gc
  hosts/kvm-1/configuration.nix
Owners: @risson, @diego

hedgehog: setup fprintd
  hosts/hedgehog/configuration.nix
Owners: @risson

hedgehog: home: change DOTSHABKA_PATH
  hosts/hedgehog/home.nix
Owners: @risson

modules: risson: software: git: enable sign off by default
  modules/risson/software/git.nix
Owners: @risson

modules: risson: software: gpg: change keyserver to keys.openpgp.org
  modules/risson/software/gpg.nix
Owners: @risson

nas: dns: unbound: use upstream module
  modules/nixos/roles/unbound/unbound.lib.nix
Owners: @risson, @ddorn

kvm-1: libvirt: don't rebuild vm image once vm is deployed
  hosts/kvm-1/services/libvirt/default.nix
  hosts/kvm-1/services/libvirt/services/deployed.nix
  hosts/kvm-1/services/libvirt/services/to-be-deployed.nix
Owners: @risson, @diego

hedgehog: enable impersistence
  hosts/hedgehog/hardware-configuration.nix
Owners: @risson

modules: risson: software: git: use the right identity depending on project
  modules/risson/software/git.nix
Owners: @risson

goat: continue neomutt configuration
  hosts/goat/mail.nix
Owners: none

CI: add goat
  .gitlab/gitlab-ci.yml
Owners: none

hedgehog: disable email configuration
  hosts/hedgehog/home.nix
Owners: @risson

hosts: add goat
  hosts/goat/configuration.nix
  hosts/goat/default.nix
  hosts/goat/distrib
  hosts/goat/hardware-configuration.nix
  hosts/goat/home.nix
  hosts/goat/mail.nix
  hosts/goat/release
Owners: none

goat: disable email configuration
  hosts/goat/home.nix
Owners: none

data: users: risson: add new ssh key
  data/users/risson/default.nix
  modules/risson/software/git.nix
Owners: @risson, @diego

goat: home: change DOTSHABKA_PATH
  hosts/goat/home.nix
Owners: none

goat: disable nix-gc
  hosts/goat/configuration.nix
Owners: none

deploy, goat: fix hostnames for SSH outside the VPN
  deploy/fsn.nix
  deploy/primaries.nix
  hosts/goat/home.nix
Owners: @risson, @ddorn

data: users: risson: add new SSH key
  data/users/risson/default.nix
Owners: @risson, @diego

modules: nixos: roles: ssh: authorize root SSH for everywhere
  modules/nixos/roles/ssh/default.nix
Owners: @risson, @ddorn

goat: add nixos containers example
  hosts/goat/configuration.nix
Owners: none

kvm-1: run ldap in a container
  hosts/kvm-1/configuration.nix
  hosts/kvm-1/containers/default.nix
  hosts/kvm-1/containers/ldap-1/configuration.nix
  hosts/kvm-1/containers/ldap-1/default.nix
  hosts/kvm-1/containers/ldap-1/slapd.conf
  hosts/kvm-1/services/libvirt/default.nix
Owners: @risson, @diego

kvm-1: run gitlab-ci in a container
  data/space.lama-corp/fsn/vrt/default.nix
  data/space.lama-corp/fsn/vrt/gitlab-ci-1/default.nix
  hosts/kvm-1/containers/default.nix
  hosts/kvm-1/containers/gitlab-ci-1/configuration.nix
  hosts/kvm-1/containers/gitlab-ci-1/default.nix
  hosts/kvm-1/containers/gitlab-ci-1/gitlab-runner.nix
Owners: @risson, @diego

kvm-1: ldap-1: open port 389
  hosts/kvm-1/containers/ldap-1/configuration.nix
Owners: @risson, @diego

kvm-1: gitlab-ci-1: fix docker
  hosts/kvm-1/containers/gitlab-ci-1/default.nix
Owners: @risson, @diego

hosts: remove ldap-1
  .gitlab/gitlab-ci.yml
  deploy/fsn.nix
  hosts/ldap-1/configuration.nix
  hosts/ldap-1/default.nix
  hosts/ldap-1/distrib
  hosts/ldap-1/networking.nix
  hosts/ldap-1/release
Owners: @risson, @ddorn

kvm-1: remove gitlab-runner, hercules-ci, bitlbee
  hosts/kvm-1/services/default.nix
  hosts/kvm-1/services/gitlab-runners/default.nix
  hosts/kvm-1/services/gitlab-runners/gitlab-runner.nix
  hosts/kvm-1/services/hercules-ci.nix
Owners: @risson, @diego

kvm-1: disable docker
  hosts/kvm-1/configuration.nix
Owners: @risson, @diego

modules: nixos: roles: unbound: listen on all interfaces
  modules/nixos/roles/unbound/default.nix
Owners: @risson, @ddorn

kvm-1: run TheFractalBot in a container
  hosts/kvm-1/containers/default.nix
  hosts/kvm-1/containers/fractal-bot/configuration.nix
  hosts/kvm-1/containers/fractal-bot/default.nix
  hosts/kvm-1/networking/default.nix
  hosts/kvm-1/networking/firewall.nix
  hosts/kvm-1/services/default.nix
Owners: @risson, @diego

hedgehog: disable ssh password authentication
  hosts/hedgehog/configuration.nix
Owners: @risson

CODEOWNERS:

/CODEOWNERS @risson @ddorn
/LICENSE @risson @ddorn
/README.md @risson

/default.nix @risson
/shell.nix @risson

/rfcs/ @risson @diego

/data/ @risson @diego

/hosts/cuckoo/ @risson
/hosts/giraffe/ @risson
/hosts/hedgehog/ @risson
/hosts/kvm-1/ @risson @diego
/hosts/ldap-1/ @risson
/hosts/mail-1/ @risson
/hosts/minio-1/ @risson
/hosts/nas/ @risson
/hosts/postgres-1/ @risson
/hosts/reverse-1/ @risson
/hosts/web-1/ @risson @ddorn
/hosts/web-2/ @risson @ddorn

/modules/nixos/ @risson @ddorn
/modules/risson/ @risson
/modules/diego/ @ddorn

/deploy/bar.nix @risson
/deploy/fsn.nix @risson @ddorn
/deploy/primaries.nix @risson @ddorn
